@import 'helpers/reset';
@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/placeholders';

@import 'vendors/fancybox';
@import 'vendors/simplebar';
@import 'vendors/slick';

@import 'base/reset';
@import 'base/fonts';
@import 'base/icons';
@import 'base/typography';
@import 'base/grid';
@import 'base/layout';

@import 'modules/forms';
@import 'modules/buttons';
@import 'modules/modals';
@import 'modules/slider-ui';
@import 'modules/video-play';
@import 'modules/waves';
@import 'modules/page-title';
@import 'modules/top-panel';
@import 'modules/aside-panel';
@import 'modules/footer';
@import 'modules/big-slider';
@import 'modules/work-places';
@import 'modules/animators';
@import 'modules/our-offers';
@import 'modules/big-video';
@import 'modules/additions';
@import 'modules/video-slider';
@import 'modules/contacts';
@import 'modules/about-us';
@import 'modules/our-clients';
@import 'modules/consist';
@import 'modules/rooms-benefits';
@import 'modules/rooms-slider';
@import 'modules/form-bottom';

@import 'pages/home';