body {
	padding-left: 300px;
	@include res(xl) {
		padding-left: 240px;
	}
	@include res(l) {
		padding-top: 40px;
		padding-left: 0;
	}
}

.container {
	position: relative;
	width: 100%;
	max-width: $container_width;
	margin: 0 auto;
	padding-left: $gutter;
	padding-right: $gutter;
	@include res(l) {
		padding-left: $gutter-mobile;
		padding-right: $gutter-mobile;
	}
}

.aside-panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	@include res(xl) {
		width: 280px;
	}
	@include res(l) {
		width: 240px;
	}
	@include res(m) {
		left: -240px;
	}
	@include res(s) {
		width: 100%;
		left: -100%;
	}
}

.def-sec {
	padding-top: $pad-xxl;
	padding-bottom: $pad-xxl;
	@include res(xl) {
		padding-top: $pad-l;
		padding-bottom: $pad-l;
	}
	@include res(l) {
		padding-top: $pad-m;
		padding-bottom: $pad-m;
	}
	@include res(s) {
		padding-top: $pad-s;
		padding-bottom: $pad-s;
	}
}

.def-sec-waved {
	padding-top: $pad-l;
	padding-bottom: $pad-l;
	@include res(xl) {
		padding-top: $pad-m;
		padding-bottom: $pad-m;
	}
	@include res(l) {
		padding-top: $pad-m;
		padding-bottom: $pad-m;
	}
	@include res(s) {
		padding-top: $pad-s;
		padding-bottom: $pad-s;
	}
}

.def-sec-waved-top {
	padding-top: $pad-l;
	padding-bottom: $pad-xxl;
	@include res(xl) {
		padding-top: $pad-m;
		padding-bottom: $pad-l;
	}
	@include res(l) {
		padding-top: $pad-m;
		padding-bottom: $pad-m;
	}
	@include res(s) {
		padding-top: $pad-s;
		padding-bottom: $pad-s;
	}
}

.def-sec-waved-bottom {
	padding-top: $pad-xxl;
	padding-bottom: $pad-l;
	@include res(xl) {
		padding-top: $pad-l;
		padding-bottom: $pad-m;
	}
	@include res(l) {
		padding-top: $pad-m;
		padding-bottom: $pad-m;
	}
	@include res(s) {
		padding-top: $pad-s;
		padding-bottom: $pad-s;
	}
}