body {
	font-family: $font;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.4;
	color: #2a2c3d;
}

a {
	color: inherit;
	text-decoration: none;
}

sup {
	vertical-align: top;
	font-size: small;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	display: block;
	margin-bottom: 0.4em;
	font-family: $font-head;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: 0.06em;
}

h1, .h1 {
	font-size: 60px;
	@include res(xl) {
		font-size: 54px;
	}
	@include res(l) {
		font-size: 48px;
	}
	@include res(s) {
		font-size: 28px;
	}
	@include res(xs) {
		font-size: 24px;
	}
}

h2, .h2 {
	font-size: 54px;
	@include res(xl) {
		font-size: 48px;
	}
	@include res(l) {
		font-size: 28px;
	}
	@include res(s) {
		font-size: 22px;
	}
	@include res(xs) {
		font-size: 20px;
	}
}

h3, .h3 {
	font-size: 36px;
	@include res(xl) {
		font-size: 28px;
	}
	@include res(l) {
		font-size: 24px;
	}
	@include res(s) {
		font-size: 20px;
	}
	@include res(xs) {
		font-size: 18px;
	}
}

h4, .h4 {
	font-size: 26px;
	@include res(xl) {
		font-size: 24px;
	}
	@include res(l) {
		font-size: 18px;
	}
	@include res(s) {
		font-size: 16px;
	}
	@include res(xs) {
		font-size: 14px;
	}
}

h5, .h5 {
	margin-bottom: $pad-xs;
	font-size: 22px;
	@include res(xl) {
		margin-bottom: 15px;
		font-size: 20px;
	}
	@include res(l) {
		margin-bottom: $pad-xxs;
		font-size: 16px;
	}
	@include res(s) {
		font-size: 14px;
	}
	@include res(xs) {
		margin-bottom: 5px;
		font-size: 12px;
	}
}

.user-content {
	font-size: 18px;
	line-height: 1.3;
	@include res(xl) {
		font-size: 17px;
	}
	@include res(l) {
		font-size: 16px;
	}
	@include res(s) {
		font-size: 14px;
	}
	h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5 {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	p,ul,ol,table,img,blockquote,q {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&--mini {
		font-size: 16px;
		@include res(l) {
			font-size: 14px;
		}
	}
}