$breakpoints: (
	'xxl': (max-width: 1680px),
	'xl': (max-width: 1480px),
	'l': (max-width: 1024px),
	'm': (max-width: 768px),
	's': (max-width: 680px),
	'xs': (max-width: 480px),
	'xxs': (max-width: 375px),
);

$font: 'Proxima Nova', 'Helvetica Neue', Arial, sans-serif;
$font-head: 'Affect', 'Helvetica Neue', Arial, sans-serif;

$container_width: 1540px;

$gutter: 12px;
$gutter-mobile: 14px;

$pad-xxl: 100px;
$pad-xl: 80px;
$pad-l: 60px;
$pad-m: 40px;
$pad-s: 30px;
$pad-xs: 20px;
$pad-xxs: 10px;

$light-blue: #72e1f4;
$blue: #25cadc;
$dark-blue: #05416b;
$link-color: #7bd3e6;
$text-color: #2a2c3d;
$pink: #f3afd0;
$gray: #f6f7fb;