.animators-sec {
	position: relative;
	background: #fff;
}

.animators {
	.slider-next, .slider-prev {
		top: 40%;
		@include res(m) {
			top: 35%;
		}
	}
	.slider-next {
		right: 0;
	}
	.slider-prev {
		left: 0;
	}
}

.animators__list {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-left: -$gutter;
	margin-gutter: -$gutter;
	@include res(l) {
		margin-left: -$gutter-mobile;
		margin-right: -$gutter-mobile;
	}
	&--slided {
		margin-left: 0;
		margin-right: 0;
	}
}

.animators__item-wrap {
	width: 25%;
	padding-bottom: $pad-s;
	padding-left: $gutter;
	padding-right: $gutter;
	@include res(m) {
		padding-bottom: $pad-xs;
	}
	@include res(xs) {
		width: 50%;
	}
}

.animators__item {
	display: block;
	text-align: center;
	&:hover {
		span {
			opacity: 1;
		}
		.h5 {
			color: $pink;
		}
	}
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto $pad-xs;
	}
	span {
		color: $link-color;
		opacity: 0;
		font-size: 14px;
		transition: all 0.3s ease;
		@include res(l) {
			opacity: 1;
		}
		@include res(s) {
			font-size: 12px;
		}
	}
	.h5 {
		display: block;
		margin-bottom: 5px;
		transition: all 0.3s ease;
		@include res(l) {
			margin-bottom: 0px;
		}
	}
}

.animators__more {
	padding-top: $pad-xs;
	text-align: center;
	@include res(l) {
		padding-top: $pad-xxs;
	}
}
