.big-slider-sec {}

.big-slider {
	.video-play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%,-50%,0);
		@include res(xl) {
			left: 75%;
		}
		@include res(m) {
			top: 30%;
			left: 50%;
		}
		@include res(s) {
			top: 25%;
		}
		@include res(xs) {
			top: 23%;
		}
		@include res(xxs) {
			top: 20%;
		}
	}
	.slider-next, .slider-prev {
		@include res(m) {
			top: 25%;
		}
	}
	.slider-dots {
		position: absolute;
		top: 160px;
		left: 132px;
		max-width: 510px;
		@include res(xl) {
			top: 90px;
			left: 62px;
		}
		@include res(l) {
			top: 60px;
			left: 30px;
		}
		@include res(m) {
			top: initial;
			bottom: 25px;
			left: 50%;
			transform: translate3d(-50%,0,0);
		}
	}
	&--slided {
		.big-slide {
			padding-top: 200px;
			@include res(xl) {
				padding-top: 120px;
			}
			@include res(l) {
				padding-top: 90px;
			}
			@include res(m) {
				padding-top: 0;
			}
		}
		.big-slide__info {
			@include res(m) {
				margin: $pad-xs auto $pad-s;
			}
		}
	}
}

.big-slide {
	display: flex!important;
	align-items: center;
	width: 100%;
	min-height: 762px;
	padding-top: $pad-m;
	padding-bottom: $pad-m;
	background-position: center center;
	background-size: cover;
	outline: none;
	//background-color: $dark-blue;
	@include res(xl) {
		min-height: 610px;
	}
	@include res(l) {
		min-height: 480px;

	}
	@include res(m) {
		min-height: initial;
		background: $text-color;
		background-image: none!important;
	}
	@include res(s) {
		padding-top: 33px;
		//min-height: 280px;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(transparentize($dark-blue, 0.4) 0%, transparentize($dark-blue, 0.8) 50%, transparentize($dark-blue, 0.4) 100%);
		pointer-events: none;
		z-index: 0;
		@include res(m) {
			content: none;
		}
	}
	.container {
		z-index: 1;
	}
}

.big-slide__img {
	position: relative;
	display: none;
	@include res(m) {
		display: block;
		margin-left: -$gutter-mobile;
		margin-right: -$gutter-mobile;
	}
	&:after {
		@include res(m) {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(transparentize($dark-blue, 0.5) 0%, transparentize($dark-blue, 0.8) 50%, transparentize($dark-blue, 0.5) 100%);
			pointer-events: none;
			z-index: 0;
		}
	}
	img {
		display: block;
		max-width: 100%;
	}
}

.big-slide__info {
	max-width: 560px;
	margin-left: 60px;
	//padding-bottom: $pad-m;
	text-align: center;
	color: #fff;
	@include res(xl) {
		max-width: 510px;
		margin-left: 60px;
	}
	@include res(l) {
		margin-left: 0px;
		padding-left: 60px;
	}
	@include res(m) {
		max-width: 620px;
		margin: $pad-xs auto 0;
		padding-left: 0;
		//padding-bottom: 5px;
	}
	.h1 {
		@include res(xs) {
			font-size: 20px;
		}
	}
}

.big-slide__descr, .big-slide__facts {
	max-width: 360px;
	margin: 0 auto $pad-m;
	@include res(xl) {
		margin-bottom: $pad-s;
	}
	@include res(l) {
		max-width: 480px;
	}
	@include res(s) {
		margin-bottom: $pad-xs;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.big-slide__facts {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include res(l) {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	p {
		font-size: 14px;
		@include res(l) {
			font-size: 12px;
		}
	}
	.h4 {
		margin-bottom: 0;
	}
}

.big-slide__fact {
	padding-bottom: $pad-xs;
	@include res(xl) {
		padding-bottom: 15px;
	}
	@include res(l) {
		max-width: 160px;
		padding-left: 12px;
		padding-right: 12px;
	}
	&:last-child {
		padding-bottom: 0;
		@include res(l) {

			padding-bottom: 15px;
		}
	}
}
