.big-slider-sec {}

.big-slider {
	.slider-next, .slider-prev {
		@include res(m) {
			top: 25%;
		}
	}
	.slider-dots {
		position: absolute;
		top: 160px;
		left: 132px;
		max-width: 510px;
		@include res(xl) {
			top: 90px;
			left: 62px;
		}
		@include res(l) {
			top: 60px;
			left: 12px;
		}
		@include res(m) {
			top: initial;
			bottom: 25px;
			left: 50%;
			transform: translate3d(-50%,0,0);
		}
	}
	&--slided {
		.big-slide__info {
			padding-bottom: $pad-m;
		}
	}
}

.big-slide {
	display: flex!important;
	align-items: flex-start;
	min-height: 762px;
	padding-top: 200px;
	background-position: center center;
	background-size: cover;
	outline: none;
	@include res(xl) {
		padding-top: 140px;
		min-height: 610px;
	}
	@include res(l) {
		min-height: 480px;
		padding-top: 100px;
	}
	@include res(m) {
		min-height: initial;
		padding-top: 0px;
		background: $text-color;
		background-image: none!important;
	}
	@include res(s) {
		//min-height: 280px;
	}
}

.big-slide__img {
	display: none;
	@include res(m) {
		display: block;
		margin-left: -$gutter-mobile;
		margin-right: -$gutter-mobile;
	}
	img {
		max-width: 100%;
	}
}

.big-slide__info {
	max-width: 560px;
	margin-left: 60px;
	padding-bottom: $pad-m;
	text-align: center;
	color: #fff;
	@include res(xl) {
		max-width: 510px;
		margin-left: 60px;
	}
	@include res(l) {
		margin-left: 0px;
		padding-left: 50px;
	}
	@include res(m) {
		max-width: 620px;
		margin: $pad-xs auto $pad-s;
		padding-left: 0;
		padding-bottom: 5px;
	}
	.h1 {
		@include res(xs) {
			font-size: 20px;
		}
	}
}

.big-slide__descr {
	max-width: 360px;
	margin: 0 auto $pad-m;
	@include res(xl) {
		margin-bottom: $pad-s;
	}
	@include res(l) {
		max-width: 480px;
	}
	@include res(s) {
		margin-bottom: $pad-xs;
	}
}

