.big-slider-sec {}

.big-slider {
	.slider-next, .slider-prev {
		@include res(m) {
			top: 25%;
		}
	}
	.slider-dots {
		position: absolute;
		top: 160px;
		left: 132px;
		max-width: 510px;
		@include res(xl) {
			top: 90px;
			left: 62px;
		}
		@include res(l) {
			top: 60px;
			left: 12px;
		}
		@include res(m) {
			top: initial;
			bottom: 25px;
			left: 50%;
			transform: translate3d(-50%,0,0);
		}
	}
}

.big-slide {
	display: flex!important;
	align-items: flex-start;
	min-height: 762px;
	padding-top: 200px;
	background-position: center center;
	background-size: cover;
	outline: none;
	@include res(xl) {
		padding-top: 140px;
		min-height: 610px;
	}
	@include res(l) {
		min-height: 480px;
		padding-top: 100px;
	}
	@include res(m) {
		min-height: initial;
		padding-top: 0px;
		background: $text-color;
		background-image: none!important;
	}
	@include res(s) {
		//min-height: 280px;
	}
}

.big-slide__img {
	display: none;
	@include res(m) {
		display: block;
		margin-left: -$gutter-mobile;
		margin-right: -$gutter-mobile;
	}
	img {
		max-width: 100%;
	}
}

.big-slide__info {
	max-width: 510px;
	margin-left: 120px;
	padding-bottom: $pad-m;
	text-align: center;
	color: #fff;
	@include res(xl) {
		margin-left: 60px;
	}
	@include res(l) {
		margin-left: 0px;
		padding-left: 50px;
	}
	@include res(m) {
		margin: $pad-xs auto $pad-s;
		padding-left: 0;
	}
	.h1 {
		@include res(xs) {
			font-size: 20px;
		}
	}
}

.big-slide__descr {
	max-width: 360px;
	margin: 0 auto $pad-m;
	@include res(xl) {
		margin-bottom: $pad-s;
	}
	@include res(s) {
		margin-bottom: $pad-xs;
	}
}

.video-play {
	position: relative;
	display: block;
	width: 100px;
	height: 135px;
	@include res(l) {
		width: 85px;
		height: 115px;
	}
	@include res(s) {
		width: 60px;
		height: 80px;
	}
	&:hover {
		&:before {
			transform: translate3d(-50%,-50%,0) scale(1.2) rotate(15deg);
		}
		&:after {
			transform: translate3d(-50%,-50%,0) scale(1.15) rotate(-65deg);
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100px;
		height: 135px;
		background: url('../img/big-slider/play-wave-pink.svg') no-repeat center center;
		transition: all 0.3s ease;
		transform: translate3d(-50%,-50%,0);
		z-index: 0;
		@include res(l) {
			width: 85px;
			height: 115px;
			background-size: contain;
		}
		@include res(s) {
			width: 60px;
			height: 80px;
			background-size: contain;
		}
	}
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 115px;
		height: 104px;
		background: url('../img/big-slider/play-wave-blue.svg') no-repeat center center;
		transition: all 0.3s ease;
		transform: translate3d(-50%,-50%,0);
		z-index: 0;
		@include res(l) {
			width: 95px;
			height: 86px;
			background-size: contain;
		}
		@include res(s) {
			width: 70px;
			height: 63px;
			background-size: contain;
		}
	}
	i {
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 38px;
		transform: translate3d(-50%,-50%,0);
		z-index: 2;
		@include res(l) {
			font-size: 34px;
		}
		@include res(s) {
			font-size: 30px;
		}
	}
}