.breadcrumbs {
	position: absolute;
	top: 70px;
	left: 335px;
	z-index: 2;
	@include res(xl) {
		top: 60px;
		left: 275px;
	}
	@include res(l) {
		top: 50px;
		left: 20px;
	}
	@include res(s) {
		left: 10px;
	}
	ul {
		display: flex;
		align-items: center;
	}
	li {
		position: relative;
		padding-right: 10px;
		&:after {
			content: '';
			position: absolute;
			top: 7px;
			right: 4px;
			width: 2px;
			height: 2px;
			border-radius: 50%;
			background: $light-blue;
			@include res(s) {
				top: 5px;
			}
		}
		&:last-child {
			&:after {
				content: none;
			}
		}
	}
	a {
		display: block;
		color: $light-blue;
		text-transform: uppercase;
		font-size: 12px;
		transition: all 0.3s ease;
		@include res(s) {
			font-size: 10px;
		}
		&:hover {
			color: $pink;
		}
	}
	&--white {
		a {
			color: #fff;
		}
	}
}