.contacts-sec {
	padding-top: $pad-m;
	padding-bottom: $pad-m;
	@include res(l) {
		padding-top: $pad-s;
		padding-bottom: $pad-s;
	}
}

.contacts {}

.contacts__wrap {
	display: flex;
	height: 700px;
	margin-left: -$gutter;
	margin-right: -$gutter;
	@include res(xl) {
		height: 660px;
	}
	@include res(m) {
		flex-direction: column;
		height: initial;
	}
	@include res(l) {
		margin-left: -$gutter-mobile;
		margin-right: -$gutter-mobile;
	}
}

.contacts__map {
	position: relative;
	width: 50%;
	height: 100%;
	padding-left: $gutter;
	padding-right: $gutter;
	@include res(l) {
		padding-left: $gutter-mobile;
		padding-right: $gutter-mobile;
	}
	@include res(m) {
		width: 100%;
		height: 380px;
		margin-bottom: 20px;
	}
	@include res(xs) {
		margin-bottom: 10px;
	}
	@include res(s) {
		height: 260px;
	}
	#contact-map {
		width: 100%;
		height: 100%;
	}
}

.contacts__info {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	padding-left: $gutter;
	padding-right: $gutter;
	@include res(l) {
		padding-left: $gutter-mobile;
		padding-right: $gutter-mobile;
	}
	@include res(m) {
		width: 100%;
	}
	.h3 {
		display: block;
		margin-bottom: 0;
	}
}

.contacts__adress, .contacts__callback {
	position: relative;
	width: calc(50% - 12px);
	max-height: 345px;
	padding: 20px 25px;
	overflow: hidden;
	@include res(xl) {
		padding: 20px 20px;
	}
	@include res(l) {
		width: calc(50% - 10px);
	}
	@include res(xs) {
		width: 100% !important;
		margin-bottom: $pad-xxs;
		padding: 15px 12px;
	}
	img {
		position: absolute;
		z-index: 0;
		@include res(xl) {
			transform: scale(0.8) translate3d(0,0,0);
		}
		@include res(xs) {
			transform: scale(0.5) translate3d(0,0,0);
		}
	}
}

.contacts__adress {
	margin-right: 12px;
	background: $pink;
	@include res(l) {
		margin-right: 10px;
	}
	@include res(xs) {
		margin-right: 0;
	}
	img {
		bottom: -35px;
		right: -40px;
		@include res(xl) {
			bottom: -50px;
			right: -60px;
		}
		@include res(xs) {
			bottom: -75px;
			right: -90px;
		}
	}
}

.contacts__adress-info {
	position: relative;
	min-height: 70px;
	padding-bottom: 10px;
	z-index: 1;
	@include res(xl) {
		min-height: 60px;
	}
	@include res(xs) {
		min-height: initial;
	}
	&:last-child {
		@include res(xs) {
			padding-bottom: 0;
		}
	}
	p {
		font-size: 16px;
		line-height: 1.4;
		@include res(l) {
			font-size: 14px;
		}
	}
	span, a {
		text-transform: uppercase;
		font-family: $font-head;
		font-size: 24px;
		line-height: 1.2;
		@include res(xl) {
			font-size: 18px;
		}
		@include res(l) {
			font-size: 16px;
		}
	}
	a {
		transition: all 0.3s ease;
		&:hover {
			color: #fff;
		}
	}
}

.contacts__callback {
	margin-left: 12px;
	background: $light-blue;
	@include res(l) {
		margin-left: 10px;
	}
	@include res(xs) {
		margin-left: 0;
	}
	img {
		bottom: 0;
		right: -70px;
		@include res(xl) {
			bottom: -20px;
			right: -70px;
		}
		@include res(xs) {
			bottom: -50px;
		}
	}
}

.contacts__form {
	width: 100%;
	margin-top: $pad-m;
	padding: 20px 25px;
	color: #fff;
	background: #2a2c3d;
	@include res(xl) {
		margin-top: $pad-s;
		padding: 20px 20px;
	}
	@include res(l) {
		margin-top: 20px;
	}
	@include res(xs) {
		margin-top: 0px;
		padding: 15px 12px 20px;
	}
	.h3 {
		margin-bottom: 15px;
	}
	.ajax-form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
