.our-offers-sec {
	@include res(m) {
		background: linear-gradient(135deg,#f3afd0 40%,#82d5e7) !important;
	}
}

.our-offers {}

.our-offers__top {
	position: absolute;
	top: 120px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 1;
	@include res(xl) {
		top: 100px;
	}
	@include res(m) {
		top: 60px;
	}
	@include res(s) {
		top: 40px;
	}
}

.our-offers__nav {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	@include res(m) {
		flex-wrap: wrap;
	}
	a {
		display: block;
		max-width: 200px;
		margin-left: 5px;
		margin-right: 5px;
		padding: 12px 24px;
		font-size: 16px;
		font-family: $font-head;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		line-height: 1.2;
		border: 2px solid transparent;
		border-radius: 30px;
		transition: all 0.3s ease;
		@include res(xl) {
			margin-left: 3px;
			margin-right: 3px;
			padding: 10px 14px;
			font-size: 14px;
		}
		@include res(l) {
			padding: 10px 16px;
			font-size: 12px;
		}
		@include res(m) {
			width: calc(25% - 4px);
			padding: 8px 16px;
			margin-bottom: 4px;
			margin-left: 2px;
			margin-right: 2px;
		}
		@include res(xs) {
			width: calc(33.33333% - 4px);
		}
		@include res(xxs) {
			width: calc(50% - 4px);
		}
		&:hover {
			border-color: #fff;
			background: transparentize(#fff,0.4);
		}
		&.active {
			background: #fff;
		}
	}
}

.our-offers__list {}

.our-offers__item {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	min-height: 870px;
	padding-top: 340px;
	padding-bottom: 100px;
	opacity: 0;
	background-position: center top;
	background-size: cover;
	transition: all 0.3s ease;
	@include res(xl) {
		min-height: 720px;
		padding-bottom: 80px;
	}
	@include res(l) {
		min-height: 600px;
		padding-top: 250px;
		padding-bottom: 60px;
	}
	@include res(m) {
		min-height: 400px;
		padding-bottom: 60px;
		background: none;
		background-image: none!important;
	}
	@include res(s) {
		min-height: initial;
		padding-top: 220px;
		padding-bottom: 60px;
	}
	@include res(xs) {
		padding-top: 250px;
		padding-bottom: 40px;
	}
	@include res(xxs) {
		padding-top: 290px;
	}
	&:after {
		@include res(l) {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: transparentize(#fff, 0.45);
			z-index: 0;
		}
		@include res(m) {
			content: none;
		}
	}
	&.active {
		position: relative;
		opacity: 1;
	}
}

.our-offers__item-info {
	position: relative;
	max-width: 560px;
	margin-left: 8%;
	z-index: 1;
	@include res(l) {
		margin-left: 4%;
	}
	@include res(m) {
		margin-left: 0;
		padding-left: $gutter-mobile;
		padding-right: $gutter-mobile;
	}
	.h3 {
		margin-bottom: 25px;
		@include res(xl) {
			margin-bottom: 20px;
		}
		@include res(l) {
			margin-bottom: 15px;
		}
	}
}

.our-offers__item-facts {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding-top: $pad-s;
}

.our-offers__item-fact {
	width: 33.33333%;
	padding-right: 20px;
	&:last-child {
		padding-right: 0;
	}
	span {
		margin-bottom: 0;
	}
	p {
		font-size: 14px;
		line-height: 1.2;
		@include res(l) {
			font-size: 12px;
		}
	}
}
