.page-title {
	max-width: 960px;
	margin: 0 auto $pad-l;
	text-align: center;
	@include res(l) {
		margin-bottom: $pad-m;
	}
	@include res(m) {
		margin-bottom: $pad-s;
	}
	@include res(s) {
		margin-bottom: $pad-xs;
	}
	.h1, .h2, .h3 {
		&:last-child {
			margin-bottom: 0;
		}
	}
	&--mini {
		margin: 0 auto $pad-s;
		@include res(l) {
			margin-bottom: $pad-xs;
		}
		@include res(s) {
			margin-bottom: $pad-xxs;
		}
	}
}
.page-title__descr {}