.promo-info-sec {}

.promo-info {
	max-width: 1260px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}

.promo-info__text {
	width: 50%;
	padding-left: $pad-xs;
	padding-right: $pad-m;
	padding-bottom: $pad-s;
	@include res(l) {
		padding-right: $pad-s;
		padding-left: $pad-xxs;
	}
	@include res(s) {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}

.promo-info__img {
	width: 50%;
	padding-right: $pad-xs;
	padding-left: $pad-m;
	padding-bottom: $pad-s;
	@include res(l) {
		padding-left: $pad-s;
		padding-right: $pad-xxs;
	}
	@include res(s) {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	img {
		display: block;
		max-width: 100%;
		border: 1px solid #dddee2;
		border-radius: 20px;
	}
}

.promo-info__share {
	width: 100%;
	margin-top: $pad-xxs;
	padding-top: 65px;
	padding-bottom: 65px;
	text-align: center;
	background: url("../img/promo/bg-share-top.svg") no-repeat center top, url("../img/promo/bg-share-bottom.svg") no-repeat center bottom;
	@include res(l) {
		margin-bottom: $pad-xs;
		@include res(s) {
			margin-bottom: $pad-xxs;
		}
	}
}

.promo-info__share-links {
	.ya-share2__container_size_m .ya-share2__item {
		margin-right: 10px;
	}
	.ya-share2__container_size_m .ya-share2__icon {
		width: 28px;
		height: 28px;
		vertical-align: middle;
	}
	.ya-share2__container_size_m .ya-share2__counter {
		vertical-align: middle;
	}
}