.top-panel-sec {
	//border-bottom: 1px solid #0d95e8;
	background: #fff;
}

.top-panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top-panel__mobile {
	display: none;
	@include res(l) {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding-left: 50px;
		padding-right: $gutter-mobile;
		padding-top: 5px;
		padding-bottom: 5px;
		background: #fff;
		z-index: 11;
	}
	a {
		display: block;
	}
	img {
		display: block;
	}
}

.top-panel__menu {
	max-width: 960px;
	width: 100%;
	@include res(l) {
		display: none;
	}
	ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: $gutter;
		padding-right: $gutter;
	}
	li {
		display: block;
	}
	a {
		display: block;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: $gutter;
		padding-right: $gutter;
		font-family: $font-head;
		font-size: 14px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		transition: all 0.3s ease;
		@include res(l) {
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 6px;
			padding-left: 6px;
			font-size: 12px;
		}
		&:hover {
			color: $link-color;
		}
	}
}

.top-panel__soc {
	padding-left: $gutter;
	padding-right: $gutter;
	@include res(l) {
		display: none!important;
	}
}

.social-list {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	a {
		position: relative;
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 12px;
		padding-right: 12px;
		@include res(l) {
			padding-left: 8px;
			padding-right: 8px;
		}
		&:hover {
			&:after {
				opacity: 1;
				transform: translate3d(-50%,-50%,0) scale(1) rotate(0);
			}
		}
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			border-radius: 70% 30% 70% 30%;
			opacity: 0;
			background: $light-blue;
			transition: all 0.3s ease;
			transform: translate3d(-50%,-50%,0) scale(0.3) rotate(90deg);
			z-index: 0;
		}
	}
	i {
		position: relative;
		display: block;
		z-index: 1;
	}
}